<div class="tiles" style="display: flex; justify-content: space-between; gap: 30px; flex-wrap: wrap; text-align: center">
  <a href="{{ site.baseurl }}/research/" class="tile" style="flex: 1;">
    <h2>Research</h2>
    <p>Papers published, in progress/preperation</p>
  </a>
  <a href="{{ site.baseurl }}/teaching/" class="tile" style="flex: 1;">
    <h2>Teaching</h2>
    <p>Seminars staged and syllabi written</p>
  </a>
  <a href="{{ site.baseurl }}/bits/" class="tile" style="flex: 1;">
    <h2>Bits & Pieces</h2>
    <p>Scores, sounds, and stray reflections</p>
  </a>
</div>
