<div class="container">
  <ul id="navlist" class="left">
    <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
    <li {% if page.url contains '/research/' %}class="active"{% endif %}><a href="{{ site.baseurl }}/research/">Research</a></li>
    <li {% if page.url contains '/teaching/' %}class="active"{% endif %}><a href="{{ site.baseurl }}/teaching/">Teaching</a></li>
    <li {% if page.url contains '/bits/' %}class="active"{% endif %}><a href="{{ site.baseurl }}/bits/">Bits & Pieces</a></li>
  </ul>
</div>
