<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav.html %}

<img src="/assets/img/grunge.png" alt="" class="line" style="width: 300px;">    
<h1 class="main-title">Compositions</h1>
<img src="/assets/img/grunge.png" alt="" class="line flip" style="width: 300px;">


<div class="section after-banner">

<h3 class="page-note">
  Feel free to <a href="mailto:bu.chenyu@utexas.edu">email me</a> if you&rsquo;d like to see the
  full scores/MIDIs for anything on this page. <br>
  * Performances and collaborations are welcome *
</h3>

  <h3 class="paper-title" style="font-size: 1.1em;">Chamber</h3>
  <div style="display: flex; flex-wrap: wrap; gap: 1.5em; margin-left: 1em;">
    <div>
      <p class="journal-ref"><strong>&ldquo;Flux&rdquo;</strong> (2021), for string quartet</p>
      <img src="/assets/img/flux-preview.png" alt="Score excerpt from Flux" style="height: 275px;">
    </div>
    <div>
      <p class="journal-ref"><strong>&ldquo;Ripple Edge&rdquo;</strong> (2020), for flute and cello</p>
      <img src="/assets/img/ripple-preview.png" alt="Score excerpt from Ripple Edge" style="margin-left: 1.5em; height: 275px;">
    </div>
    <div>
      <p class="journal-ref"><strong>&ldquo;Leaf in Frost&rdquo;</strong> (2020), for piano trio</p>
      <img src="/assets/img/leaf-preview.png" alt="Score excerpt from Leaf in Frost" style="margin-left: 0.5em; height: 275px;">
    </div>
    <div>
      <p class="journal-ref"><strong>&ldquo;Patmore Ash Tree&rdquo;</strong> (2019), for flute, Bb clarinet, bassoon</p>
      <img src="/assets/img/patmore-preview.png" alt="Score excerpt from Patmore Ash Tree" style="margin-left: 3.5em; height: 275px;">
    </div>
    <div>
  <p class="journal-ref"><strong>&ldquo;After the Flame&rdquo;</strong> (2019), for violin, viola, Bb clarinet, cello</p>
  <img src="/assets/img/flame-preview.png" alt="Score excerpt from After the Flame" style="width: 200px; margin-left: 5.3em;"><br>
  <audio controls controlsList="nodownload" style="margin-top: 0.5em; margin-left: 2em;">
    <source src="/assets/audio/after-the-flame.mp3" type="audio/mpeg">
  </audio>
      <p class="journal-ref" style="text-align: center;"><em>Performed by: Mary Deck, Brett Petrykowski, <br> Les Thimmig, James Waldo <br> Music inspired by Samuel Barber</em></p>
</div>
  </div>

  <h3 class="paper-title" style="font-size: 1.1em; margin-top: 1.5em;">Solo</h3>
<div style="display: flex; flex-wrap: wrap; column-gap: 12em; margin-left: 1em;">
  <div>
    <p class="journal-ref"><strong>&ldquo;Divergence&rdquo;</strong> (2020), for solo piano</p>
    <img src="/assets/img/divergence-preview.png" alt="Score excerpt from Divergence" style="height: 275px;">
  </div>
  <div>
    <p class="journal-ref"><strong>&ldquo;Through the Looking Glass&rdquo;</strong> (2019), for solo piano<br>
    </p>
    <img src="/assets/img/lookingglass-preview.png" alt="Score excerpt from Through the Looking Glass" style="height: 200px; margin-left: 5.5em"> <br>
<audio controls controlsList="nodownload" style="margin-top: 0.5em; margin-left: 1em;">
  <source src="/assets/audio/through-the-looking-glass.mp3" type="audio/mpeg">
</audio>
      <p class="journal-ref" style="text-align: center;"><em>Performed by: Eric Tran <br> Music inspired by Chihuly Garden and Glass</em></p>
  </div>
  <div>
    <p class="journal-ref"><strong>&ldquo;Fancy on a Bach Sarabande&rdquo;</strong> (2020), for solo cello</p>
    <img src="/assets/img/fancy-preview.png" alt="Score excerpt from Fancy on a Bach Sarabande" style="height: 275px; margin-left: 3em">
  </div>
</div>


  <h3 class="paper-title" style="font-size: 1.1em; margin-top: 1.5em;">Electronic</h3>
  <div style="display: flex; flex-wrap: wrap; column-gap: 8em; row-gap: 2em; margin-left: 1em;">
    <div>
      <p class="journal-ref"><strong>&ldquo;Darkmass&rdquo;</strong> (2019), 1’11” **<br>
      </p>
<audio controls controlsList="nodownload" style="margin-left: 0.5em;">
  <source src="/assets/audio/darkmass.mp3" type="audio/mpeg">
</audio>
    </div>
    <div>
      <p class="journal-ref"><strong>&ldquo;Bb Thy Sight&rdquo;</strong> (2018), 5’35” **<br>
      </p>
<audio controls controlsList="nodownload">
  <source src="/assets/audio/sight.mp3" type="audio/mpeg">
</audio>
    </div>
    <div>
      <p class="journal-ref"><strong>&ldquo;Interstellar Overture&rdquo;</strong> (2018), 2’44”<br>
      </p>
<audio controls controlsList="nodownload" style="margin-left: 0.5em;">
  <source src="/assets/audio/interstellar.mp3" type="audio/mpeg">
</audio>
    </div>
  </div>
</div>



<img src="/assets/img/grunge.png" alt="" class="line" style="width: 300px; margin-top: 40px;">
    <h1 class="main-title">Arrangements</h1>
<img src="/assets/img/grunge.png" alt="" class="line flip" style="width: 300px; margin-bottom: 2em">
<div class="section">
  <div style="display: flex; flex-wrap: wrap; column-gap: 8em; row-gap: 2em; margin-left: 1em;">
    <div>
      <p class="journal-ref"><strong>&ldquo;Mr. Tambourine Man&rdquo;</strong> by Bob Dylan, arranged for piano and strings</p>
      <audio controls controlsList="nodownload" style="margin-top: 0.5em; margin-left: 0.5em;">
        <source src="/assets/audio/tambourine.mp3" type="audio/mpeg">
      </audio>
    </div>
  </div>
</div>


<p style="text-align: center; font-size: 1.2em; color: #4a4a4a; margin-top: 1em; font-style: italic;">
More to Come...</p>

<p style="text-align: center; font-size: 0.9em; color: #4a4a4a; margin-top: 3em;">
  ** Some of you may not be surprised to learn that these are film scores — for some video essays made by an old friend, who is (was) a Bob Dylan fan.
</p>


    <div class="nav-footer">
        <a href="/">Home</a>
        <a href="/research/">Research</a>
        <a href="/teaching/">Teaching</a>
        <a href="/news/">Comings &amp; Goings</a>
    </div>

    {% include foot.html %}
  </body>
</html>
